@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9ff;
  /* color: #f9f9ff; */
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none; /*removes underline from the link*/
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 479px) {
  body {
    font-size: 14px;
  }
}
